/* Content-section general handling */

.content-section {
    height: 100vh;
}

#cube {
    margin-top: 20vh;
    text-align: center;
}

/* Sidebar */
@media (max-width: 991.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 56px;
        /* Height of navbar */
        bottom: 0;
        left: 100%;
        width: 100%;
        padding-right: 1rem;
        padding-left: 1rem;
        overflow-y: auto;
        visibility: hidden;
        background-color: #343a40;
    }

    .offcanvas-collapse.open {
        visibility: visible;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 0.5s;
        opacity: 0.9;
        transform: translateX(-100%);
    }
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }
}


/* Typewritter effect */

.hello_heading {
    opacity: 0;
    visibility: hidden;
}

.type {
    opacity: 1;
    visibility: visible;
	display: inline-block;
	overflow: hidden;
	letter-spacing: 3px;
	animation: typing 5s steps(45,end);
	white-space: nowrap;
	font-size: 32px;
	box-sizing: border-box;
}

@keyframes typing{
	from{
		width: 0%
	}
	to{
		width: 100%
	}
}